# Created by https://www.gitignore.io

.ansible
.cache

### Packer ###
# Cache objects
packer_cache/
output-virtualbox-iso/
debian-*/

# For built boxes
*.box

### Vagrant ###
.vagrant/

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
metadata.yml
